{% extends 'base.html' %}
{% block content %}

{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>

<body>
<!--BLOG-->
<div style="border: green solid 3px;">
<br>
<div class="row mb-2">
    {% for blog in posts %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded ovepiprflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Food</strong>
                    <h2 class="mb-0">{{ blog.title }}</h2>
                    <h6><a href="{%url 'detail' blog.id%}">Continue reading</a></h6>
                    <br><br>
                    <div>
                        <span style="background-color: palegreen; width: 30px;"><a href="{% url 'update' blog.id %}">수정</a></span>
                        &nbsp;&nbsp;&nbsp;
                        <span style="background-color:lightpink; width: 30px;"><a href="{% url 'delete' blog.id %}">삭제</a></span>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{blog.image.url}}">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
<br>


<div class="container" style="text-align: center;">
    <!--First    Previous-->
    {%if posts.has_previous%}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}

    <!-- 3of4 -->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
    
    <!--Next     Last-->
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}
</div>
<br>

{% endblock %}

</body>
</html>