<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ase4pwr7kt"></script>
</head>

<body>
    <!--Social Login-->
        <div class="container" style="background-color: #edffde;">
    
        <a href="/accounts/signup">회원가입</a><br>
    
        {% if user.is_authenticated %}
        <a href="/accounts/logout">로그아웃</a><br>
        {{user.username}} 님이 로그인 중
    
        {% else %}
        <a href="{% provider_login_url 'google' %}">구글 로그인</a><br>
        로그아웃상태입니다.<br>
        </div>
        {% endif %}
    <br><br>
    

    <!--API-->
    <table>
        <tr><td colspan="7" style="height: 10px;"></td></tr>
        <tr><td style="width:20px"></td><td colspan="6"><h1>BEST 3</h1></td></tr>
        <tr>
            <td style="width:20px"></td>
            <td id="map1" style="width:300px;height:400px;"></td><td style="width:50px"></td>   <!-- 지도1: 누들아한타이 -->
            <td id="map2" style="width:300px;height:400px;"></td><td style="width:50px"></td>   <!-- 지도2: 오매떡 -->
            <td id="map3" style="width:300px;height:400px;"></td>                               <!-- 지도3:  칠기마라샹궈마라탕-->
            <td style="width:20px"></td>
        </tr>
        <tr><td colspan="7" style="height: 20px;"></td></tr>
    </table>

    <script>
        // 지도1: 누들아한타이
        var HOME_PATH = window.HOME_PATH || '.';

        var noodleahantai = new naver.maps.LatLng(37.6038529, 127.0405439),
            map = new naver.maps.Map('map1', {
                center: noodleahantai.destinationPoint(0, 40),
                zoom: 17
            }),
            marker = new naver.maps.Marker({
                map: map,
                position: noodleahantai
            });

        var contentString = [
                '<div class="iw_inner" style="margin:7px;">',
                '   <h3>누들아한타이</h3>',
                '   <font size="2" color="gray">서울특별시 성북구 월곡2동 화랑로13길 10<br /></font>',
                '   <font size="3">맑소쌀, 맵소쌀, 볶음밥/면 모두 추천<br />',
                '   </font>',
                '</div>'
            ].join('');

        var infowindow = new naver.maps.InfoWindow({
            content: contentString
        });

        naver.maps.Event.addListener(marker, "click", function(e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
        });

        infowindow.open(map, marker);
    </script>


<br>
<br>
<br>

<!--BLOG-->
<div style="border: green solid 3px;">
<br>
<div class="row mb-2">
    {% for blog in posts %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Food</strong>
                    <h2 class="mb-0">{{ blog.title }}</h2>
                    <h6><a href="{%url 'detail' blog.id%}">Continue reading</a></h6>
                    <br><br>
                    <div>
                        <span style="background-color: palegreen; width: 30px;"><a href="{% url 'update' blog.id %}">수정</a></span>
                        &nbsp;&nbsp;&nbsp;
                        <span style="background-color:lightpink; width: 30px;"><a href="{% url 'delete' blog.id %}">삭제</a></span>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{blog.image_thumbnail.url}}">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
<br>


<div class="container" style="text-align: center;">
    <!--First    Previous-->
    {%if posts.has_previous%}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}

    <!-- 3of4 -->
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
    
    <!--Next     Last-->
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}
</div>
<br>

{% endblock %}

</body>
</html>